body {
  display:flex;
  flex-direction: column;
  background-image: url(https://hd.unsplash.com/photo-1453831210728-695502f9f795);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: #FCFCFC;
  opacity: 0.9;
}

.table,
.form-horizontal {
  background-color: white;
  margin: 0 0 5% 5%;
  padding: 2% 15% 2% 15%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.table {
  float: left;
  width: 42.5%;
  height: 150px;
  overflow: scroll;
}

.form-horizontal{
  background-color:white;
  margin-right: 5%;
  margin-bottom: 5%;
}

.cart-card {
  background-color:white;
  width: 42.5%;
  height: 45%;
  overflow: scroll;
  float: right;
  margin-right: 5%;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.addItem {
  width: 100%;
  height: 120%;
}

.totals,
.cart {
  list-style-type: none;
}

.cart li,
.totals li {
  font-size: 1vw;
}

.totals li {
  margin-left: 75%;
}

.totals li:last-child{
  font-weight: bold;
}

.panel-footer {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #FCFCFC;
  opacity: 0.9;
}
